<div class="card" *ngIf="cardDetails" [@inOutAnimation]>
  <div class="name row">
    <div class="col-md-9">{{ cardDetails.display_name }}</div>
    <div class="col-md-3 level">Lvl. 99</div>
  </div>
  <div class="user-image">
    <img [src]="cardDetails.logo" alt="">
  </div>
  <div class="details">
    <div class="stat row col-md-12">
      {{ cardDetails.description }}
    </div>
    <div class="stat row" *ngFor="let stat of cardDetails.stats">
      <div class="title col-md-9">{{ stat.stat }}</div>
      <div class="value col-md-3">{{ stat.value }}</div>
      <div class="description col-md-12">{{ stat.description }}</div>
    </div>
  </div>
</div>
<div class="active-color">
  Light Color: <span [ngStyle]="{'color': this.currentColor }">{{ this.currentColor || "#anyHex" }}</span>
</div>
<div class="qna-list" *ngIf="qnaList.length > 0 || activeQuestion">
  <div class="header">
    Thats Rad Q&A
  </div>
  <div class="active" *ngIf="activeQuestion">
    <div class="title">Currently discussing:</div>
    <div>{{ activeQuestion.question }}</div>
    <div class="asked-by">Asked by {{ activeQuestion.user.display_name }}</div>
  </div>
  <div class="list" *ngFor="let qna of qnaList">
    {{ qna.user.display_name }}: {{ qna.question }}
  </div>
</div>
