.rad-nav {
  background-color: #222;
  padding: 1em 2em;
  img {
    height: 4em;
    float: left;
    margin-right: 1em;
  }
  .title {
    font-family: 'Bangers';
    color: #00D68F;
    font-size: 2em;
    padding-top: .3em;
  }
}